.game5 {
  margin-top: 110px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;

  .image {
    margin-bottom: 25px;
    img {
      width: 300px;
    }
  }

  span {
    padding: 2.5px;
    border-radius: 5px;
    transition: 0.5s linear;
    position: relative;
    left: 0;
    top: 0;
  }

  .drop-zones {
    display: flex;
    margin-bottom: 25px;
    gap: 25px;

    .drop {
      display: flex;
      position: relative;

      .blank {
        border: 3px solid #5ac8f5;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        font-size: 30px;
        height: 75px;
      }
    }
  }

  .word-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    font-size: 20px;
    height: 75px;
    background-color: #d6d9db;
  }

  .interactive-word {
    display: flex;
    gap: 25px;

    .word-box {
      background-color: #5ac8f5;
      cursor: pointer;
      position: relative;
      transition: 0.3s linear;

      &:hover {
        background-color: #92d8f5;
      }
    }

    .finish {
      background-color: #d6d9db;
      cursor: default;
      // border: 3px solid peru;

      p {
        position: relative;
      }

      &:hover {
        background-color: #d6d9db;
      }
    }
  }

  .clone-boxes {
    display: flex;
    position: absolute;
    z-index: 100;

    .background {
      background-color: #d6d9db;
      width: 300px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: 0.5s linear;
      z-index: -1;
    }

    .box {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 150px;
      font-size: 20px;
      height: 75px;

      .choose {
        background-color: #5ac8f5;
        cursor: pointer;
        position: relative;

        &:hover {
          background-color: hsla(197, 89%, 66%, 0.5) !important;
        }
      }
    }

    .box-swipe {
      order: 2;
    }
  }
}
