.game4 {
  margin-top: 110px;
  width: 1000px;

  .balls {
    display: flex;
    flex-wrap: wrap;
    width: 460px;
    column-gap: 15px;
    margin: 0 auto;

    .ball {
      cursor: pointer;
    }

    .ball:nth-child(6) {
      margin-left: 50px !important;
    }
  }

  .box {
    background-color: #1268b1;
    width: 325px;
    height: 125px;
    font-size: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 10px;
    margin: auto;
    margin-top: 75px;
    transform: translateX(100vw);
  }

  .hourglass {
    margin: auto;
    transform: rotate(0) scale(0.7);

    --polygonH: polygon(
      0% 0%,
      100% 0%,
      100% 5.55%,
      95% 5.55%,
      95% 28%,
      60% 46%,
      60% 54%,
      95% 72%,
      95% 94.45%,
      100% 94.45%,
      100% 100%,
      0% 100%,
      0% 94.45%,
      5% 94.45%,
      5% 72%,
      40% 54%,
      40% 46%,
      5% 28%,
      5% 5.55%,
      0% 5.55%
    );

    background-image: linear-gradient(
      #989b9e 0.5em,
      #737a8c55 0.5em 8.5em,
      #989b9e 8.5em
    );
    clip-path: var(--polygonH);
    -webkit-clip-path: var(--polygonH);
    overflow: hidden;
    position: relative;
    width: 5em;
    height: 9em;
    z-index: 0;
  }
  .hourglass .before,
  .hourglass .after {
    animation-timing-function: linear;
    content: "";
    display: block;
    position: absolute;
  }
  .hourglass .before {
    background: #5ac8f5;
    background-size: 100% 3.6em;
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 24%,
      50% 47%,
      50% 47%,
      50% 47%,
      50% 47%,
      50% 47%,
      50% 47%,
      50% 47%,
      50% 47%,
      0% 24%
    );
    top: 0.5em;
    left: 0.5em;
    width: 4em;
    height: 8em;
    z-index: 1;
  }

  .static {
    padding-left: 15px;
    .static-line {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      gap: 50px;

      .static-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        margin-bottom: 15px;

        .static-box {
          width: 100%;
          background-color: #1268b1;
          color: white;
          border-radius: 5px;
          text-align: center;
          padding: 10px 0px;
          font-weight: bold;
          font-size: 14px;
        }
      }
    }
  }
}
