.game1 {
  margin-top: 75px;
  height: 100vh;
  width: 1000px;
  padding-left: 50px;
  display: flex;
  gap: 60px;

  .shadow {
    box-shadow: rgba(255, 255, 255, 0.56) 0px 22px 10px 25px;
    position: absolute;
    top: -35px;
    left: 0;
    right: 0;
    height: 100px;
    width: 100%;
    z-index: 10000;
    transition: 0.25s;
  }

  .message {
    display: flex;
    gap: 5px;
    width: 575px;
    font-size: 20px;
    border-radius: 20px 20px 20px 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    height: max-content;

    .name {
      border-radius: 20px 0px 0px 0;
      padding: 15px;
      height: 100%;
      background-color: #5ac8f5;
      color: white;
      font-weight: 500;
      margin-right: 20px;
    }

    .body {
      position: relative;
      z-index: 1000;

      .fake > div,
      .real {
        display: flex;
        padding-top: 15px;
      }

      .fake {
        position: absolute;
        z-index: 1000;
        pointer-events: none;
      }

      .move-word {
        transition: 0.25s;
        padding: 0 2.5px;
        border-radius: 5px;
      }

      .real {
        > div:hover {
          background-color: #5ac8f5;
        }
      }
    }
  }

  .box {
    background-color: #5ac8f5;
    width: 275px;
    border-radius: 15px;
    padding: 10px;
    transition: 0.25s;
    z-index: -1;
    position: relative;

    .line {
      height: 30px;
      width: 100%;
      font-size: 20px;

      p {
        z-index: -1;
        opacity: 0;
        transition: 0.5s linear;
      }
    }
  }

  .map {
    margin-left: 20px;
    display: flex;
    align-items: center;

    img {
      height: 20px;
      cursor: pointer;

      &:hover {
        background-color: transparent !important;
      }
    }

    &:hover {
      background-color: transparent !important;
    }
  }

  .options {
    display: flex;
    gap: 10px;
    position: absolute;
    margin-left: 20px;
    transform: translateY(15px);
  }

  .button {
    background-color: #5ac8f5;
    color: white;
    padding: 12px 15px;
    border-radius: 7.5px;
    cursor: pointer;
    transition: 0.25s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }

  .button:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
}
