// Import FONT
@font-face {
  font-family: Goethe;
  src: url(../assets/font/GoetheGothic.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Goethe;
  src: url(../assets/font/GoetheGothicBold.ttf);
  font-weight: 700;
}

// Variable
$BACKGROUND_COLOR: #fff;
$GREEN_COLOR: #a0c814;
$BROWN_COLOR: #374105;
$GRAY_COLOR: #788287;

// General
* {
  margin: 0;
  padding: 0;
  font-family: Goethe;
  box-sizing: border-box;
  transition-timing-function: linear;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

body {
  overflow: hidden;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.zoom {
  height: 200px !important;
  width: 200px !important;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
}

.button-show {
  font-size: 25px;
  background-color: #fff;
  color: #788287;
  width: max-content;
  font-weight: 700;
  margin: auto;
  margin-top: 20px;
  padding: 20px 25px;
  border-radius: 10px;
  cursor: pointer;
  animation-name: buttonShow;
  animation-duration: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  transition: 0.5s;
  position: absolute;
  bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  }
}

@keyframes buttonShow {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    transform: scale(1.15);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
